.carritoCompras {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.contadorCarrito {
  color: white;
  font-size: 26px;
  margin-top: 10px;
}

.contenedorCartWidget {
  display: flex;
  flex-direction: row;
  margin-right: 50px;
  gap: 16px;
  text-decoration: none;
}