.contenedorContador {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid rgba(0, 0, 0, 0.459);
  height: 24px;
  padding: 5px;
  margin-bottom: 14px;
  background-color: white;
  min-width: 220px;
}

.agregarAlCarrito {
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  min-width: 250px;
  height: 40px;
  border: none;
  background-color: rgb(15, 141, 15);
  text-transform: uppercase;
  color: white;
}

.cantidadContador {
  margin: 0 50px;
}

.resta {
  color: red;
  font-size: large;
}

.suma {
  color: green;
  font-size: large;
}